- unless video.nil?
  .thumb.video{ class: align }
    = link_to video_url(video), class: 'fancybox' do
      = image_tag 'icon-youtube-play.png', class: 'play'
      = image_tag video.youtube_thumb(:large)