#left
  %h1
    %b
      Personas que
    Apoyan los cambios

  %table
    %thead
      %tr
        %th
          Nombre
        %th
          Donación
    %tbody
      %tr
        %td
          Juan Galdamez
        %td
          $1000.00
      %tr
        %td
          Juan Galdamez
        %td
          $1000.00
      %tr
        %td
          Juan Galdamez
        %td
          $1000.00
      %tr
        %td
          Juan Galdamez
        %td
          $1000.00
      %tr
        %td
          Juan Galdamez
        %td
          $1000.00
      %tr
        %td
          Juan Galdamez
        %td
          $1000.00
      %tr
        %td
          Juan Galdamez
        %td
          $1000.00
    %tfoot
      %tr
        %td
          Total
        %td
          $1000.00
#right
  = render partial: 'right_bar'
