#left
  #post
    %h1
      = link_to 'Los cambios deben seguir', nil
    %span.date
      7 de noviembre del 2013
    
    = image_tag 'featured-example.jpg', class: 'header'
    
    .content
      = content_format @post.content, @media
#right  
  = render partial: 'right_bar'
