html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #ebf0f3 image-url('bg-body-internal.jpg') 0 0 repeat-x;
  font-family: arial;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

b {
  font-weight: bold;
}

.clear {
  clear: both;
}

.btn {
  border-radius: 4px;
  display: inline-block;
  padding: 8px 0;
  text-align: center;
  
  &.orange {
    background: #f15a25;
    color: #fff;
  }
}

#wrapper {
  margin: 0 auto;
  width: 960px;
}

#logo {
  float: left;

  img {
    display: block;
  }
}

#top-menu {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  
  li,
  a {
    display: inline-block;
    line-height: 97px;
  }

  li {
    border-right: 1px #9db0be solid;
    margin: 0;
    padding: 0;
  }

  a {
    color: #4f5356;
    padding: 0 12px;
  }
}

#social-menu {
  a {
    display: inline-block;
    line-height: 97px;
    margin-left: 24px;
    
    img {
      vertical-align: middle;
    }
  }
}

#footer {
  background: image-url('el-salvador-adelante-gray.jpg') left 30px no-repeat;
  color: #4d4d4b;
  line-height: 19px;
  padding: 30px 0 50px 0;
  
  img {
    float: right;
  }
  
  a {
    color: #f05b23;
  }
}

#address {
  float: left;
  margin-left: 240px;
}

#copyright {
  border-top: 1px #808080 solid;
  padding: 8px 0;
  text-align: center;
  
  a {
    color: #26ace1;
  }
}

#breadcrumb {
  background: #c8cdd0;
  color: #969b9e;
  font-size: 13px;
  margin: 3px 0 0 0;
  padding: 8px 10px;
  
  a {
    color: #969b9e;
    
    &:hover {
      color: #474747;
    }
  }
  
  b {
    color: #474747;
    font-weight: normal;
  }
}

#content {
  background: #fff;
  color: #444;
  padding: 14px;

  h1,
  h2,
  h3 {
    color: #69777a;
    
    a {
      color: #69777a;  
    }
  }

  h1 {
    font-size: 35px;
  }
  
  h3 {
    font-size: 21px;
  }
}


