h1 {
  b {
    display: block;
    font-size: 27px;
  }
}

#left {
  float: left;
  width: 552px;
}

table {
  margin-top: 20px;
  width: 100%;

  th,
  td {
    padding: 18px 0;
  }

  th {
    border-bottom: 1px #727d83 solid;
    text-align: left;
  }
  
  td {
    border-bottom: 1px #727d83 dashed;
  }
  
  tfoot {
    td {
      border-bottom: 0;
      border-top: 3px #f7941d solid;
      font-weight: bold;
    }
  }
}

#right {
  background: #0154a4;
  float: right;
  padding: 0 0 20px 0;
  text-align: center;
  width: 360px;
  
  h2 {
    background: #004588;
    color: #fff;
    font-size: 35px;
    padding: 30px 0;
    span {
      display: block;
      color: #a7b9c5;
      font-size: 12px;
      text-align: center;
      padding-top: 5px;
    }
  }
  
  .btn {
    background: #f15a25;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 0 0;
    padding: 8px 20px;
    border: none;
  }
}

form {
  padding: 0 30px;
  label {
    display: block;
    color: white;
    text-align: left;
    span {
      color: #a7b9c5;
      font-size: 10px;
    }
  }
  input, textarea {
    width: 100%;
    margin-bottom: 10px;
  }
}

.alert ul, .alert-success {
  margin: 0 30px 10px;
  padding: 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 12px;
  text-align: left
}

.alert-warning ul {
  color: #b94a48;
  background: #f2dede;
  border: 1px solid #ebccd1;
}

.alert-success {
  color: #468847;
  background: #dff0d8;
  border: 1px solid #d6e9c6;
}
