%h2
  Los compromisos
  
- Config[:categories].keys.each do |category_name|          
  - category = Category.find Config[:categories][category_name][:id]
  = link_to category.name, category_url(category), class: category_name